<?xml version="1.0"?>
<config>
    <modules>
        <Simion_AdminProductThumbnail>
            <version>0.1.0</version>
        </Simion_AdminProductThumbnail>
    </modules>
    <admin>
    </admin>
    <global>
        <models>
            <adminproductthumbnail>
                <class>Simion_AdminProductThumbnail_Model</class>
                <resourceModel>adminproductthumbnail_entity</resourceModel>
            </adminproductthumbnail>
            <adminproductthumbnail_entity>
                <class>Simion_AdminProductThumbnail_Model_Entity</class>
                <entities>
                </entities>
            </adminproductthumbnail_entity>
        </models>
        <blocks>
            <adminproductthumbnail>
                <class>Simion_AdminProductThumbnail_Block</class>
            </adminproductthumbnail>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Simion_AdminProductThumbnail_Block_Catalog_Product_Grid</catalog_product_grid>
                    <catalog_category_tab_product>Simion_AdminProductThumbnail_Block_Catalog_Category_Tab_Product</catalog_category_tab_product>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <adminproductthumbnail>
                <class>Simion_AdminProductThumbnail_Helper</class>
            </adminproductthumbnail>
        </helpers>
        <resources>
            <simion_adminproductthumbnail_setup>
                <setup>
                    <module>Simion_AdminProductThumbnail</module>
                    <class>Simion_AdminProductThumbnail_Model_Entity_Setup</class>
                </setup>
            </simion_adminproductthumbnail_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <adminproductthumbnail>
                    <file>simion_adminproductthumbnail.xml</file>
                </adminproductthumbnail>
            </updates>
        </layout>
        <translate>
            <modules>
                <Simion_AdminProductThumbnail>
                    <files>
                        <default>Simion_AdminProductThumbnail.csv</default>
                    </files>
                </Simion_AdminProductThumbnail>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events/>
        <routers/>
        <translate/>
        <layout/>
    </frontend>
    <default>
        <adminproductthumbnail>
        </adminproductthumbnail>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Simion_AdminProductThumbnail/>
            </modules>
        </suite>
    </phpunit>
</config>

